/* ++++++++++++++++++++++++ */
/* ------ base ------------ */
:root{
    --color-primary:#CBF277;
    --color-primary-dark :#35401E;
    --color-primary-light:#A0BF5E;

    --color-gray:#D9D9D9;

    --color-black:#0D0D0D;
}
*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
}
body{
    font-family: 'Lato', sans-serif;
}
/* ++++++++++++++++++++++++++ */

.header{
    background-color: var(--color-gray);
}

/* -------components ------- */
/* search bar */
@media (min-width:992px) {
    .container.search-bar {
        max-width: 600px;
    }
}

/* carousel */
.carousel-box{
    padding-bottom: 3rem;
}
.carousel-indicators{
    bottom: -3rem;
}
.card {
    width: calc(100%/3);
}
@media (max-width:767px) {
    .card {
        width: calc(100%/2);
    }
}
.card-wrapper__box-1{
    background-color: red;
}
.card-image-box{
    
}
.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

.categories-box {
    margin: 1rem;
}
.categories-box:nth-child(odd){
    margin-left: -10vw;
}
.categories-box:nth-child(even){
    margin-left: -15vw;
}

.footer{
    background-color: var(--color-gray);
}
.footer .border-top {
    border-top-color: var(--color-primary-dark)!important;
}

.categories{
    padding: 10vh 0;
}

/* ======== PAGE ========== */
.featured-items {
    background: var(--color-gray);
    padding: 10vh 0;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
}