/* ++++++++++++++++++++++++ */
/* ------ base ------------ */
:root{
    --color-primary:#CBF277;
    --color-primary-dark :#35401E;
    --color-primary-light:#A0BF5E;

    --color-gray:#D9D9D9;

    --color-black:#0D0D0D;
}
*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
}
body{
    font-family: 'Lato', sans-serif;
}
/* ++++++++++++++++++++++++++ */

.header{
    background-color: var(--color-gray);
}

/* -------components ------- */
/* search bar */
@media (min-width:992px) {
    .container.search-bar {
        max-width: 600px;
    }
}

/* carousel */
.carousel-box{
    padding-bottom: 3rem;
}
.carousel-indicators{
    bottom: -3rem;
}


@media (max-width:767px) {
    .featured-items .card:not(:last-child){
        display: none;
    }
}
.card a {
    color: inherit;
    text-decoration: none;
}


.carousel-control-next, .carousel-control-prev {
    width: 5%;
}


.categories-box {
    place-content: center;
}
.categories{
    padding: 0 0 10vh;
}


@media (max-width:1440px) {
    .categories-box a:not(:nth-child(-n+30)) {
        display: none;
    }
}
@media (max-width:768px) {
    .categories-box a:not(:nth-child(-n+20)) {
        display: none;
    }
}
@media (max-width:425px) {
    .categories-box a:not(:nth-child(-n+10)) {
        display: none;
    }
}


.how-it-works {
    padding: 5vh 0;
}
.how-it-works .card{
    padding: 2rem;
}
.how-it-works .card-body{
    position: relative;
    padding-bottom: 2rem;
}
.how-it-works .card-body a{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 1rem;
}
.how-to__image-box{
    display: block;
    margin: auto;
    text-align: center;
}
.how-to__number {
    color: var(--color-primary-light);
}



.footer{
    background-color: var(--color-gray);
}
.footer .border-top {
    border-top-color: var(--color-primary-dark)!important;
}



/* ======== PAGE ========== */
.featured-items {
    background: var(--color-gray);
    padding: 10vh 0;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
}